.box {
    height: 100%;
    background-color: var(--White);
    border-radius: 16px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.iconUserCircle {
    width: 256px;
    height: auto;
}

.profile_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 32px 16px 16px 16px;
}

.profile_pic {
    width: 256px;
    height: 256px;
    border-radius: 50%;
}

.name{
    width: 80%;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    padding: 16px 0;
    text-align: center;
    color: var(--Dark-blue);
}

.button_container {
    width: 100%;
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.default_btn {
    width: 80%;
    height: 50px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    cursor: pointer;
}

.default_btn:hover {
    background-color: var(--Dark-blue);
    color: var(--White);
}

.cancel_btn {
    width: 80%;
    height: 50px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--Dark-cyan);
    background-color: var(--White);
    color: var(--Dark-blue);
    cursor: pointer;
}

.cancel_btn:hover {
    background-color: var(--Soft-red);
    color: var(--White);
    border: none;
}

.pfp_btn {
    width: 80%;
    height: 50px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    cursor: pointer;
}

.pfp_btn:hover {
    background-color: var(--Dark-blue);
    color: var(--White);
}

.pfp_btn2{
    height: 50px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    display: none;
    cursor: pointer;
}

.pfp_btn2:hover {
    background-color: var(--Dark-blue);
    color: var(--White);
}

@media (max-width: 1300px) {
    .box{
        flex-direction: row;
    }

    .button_container{
        margin-left: auto;
        margin-bottom: auto;
        width: 400px;
    }

    .pfp_btn{
        display: none;
    }

    .pfp_btn2{
        display: block;
        width: 80%;
    }

    .name{
        text-align: left;
    }

    .profile_pic{
        width: 128px;
        height: 128px;
    }

    .profile_container{
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .box{
        flex-direction: column;
        justify-content: space-between;
    }

    .button_container{
        margin-top: auto;
        margin-bottom: 32px;
        margin-left: 0;
        width: 250px;
    }

    .name{
        margin: 0;
        text-align: center;
    }
}