.box {
    background-color: var(--White);
    border-radius: 16px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 32px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: var(--Dark-blue);
    margin: 0;
}

.default_btn {
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    cursor: pointer;
}

.default_btn:hover {
    background-color: var(--Dark-blue);
    color: var(--White);
}

.table_container {
    overflow-x: auto;
    margin: 16px 0 0 0;
}

.medication_table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
}

.medication_table th,
.medication_table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.medication_table td.activeStatus {
    color: var(--Green);
  }
  
  .medication_table td.disableStatus {
    color: var(--Soft-red);
  }
  

.medication_table th {
    background-color: #f9f9f9;
    color: var(--Dark-blue);
    font-weight: 600;
}

.medication_table td {
    max-width: 100px;
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--Dark-cyan);
}

.medication_table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

@media (max-width: 550px) {
    .row2 {
        flex-direction: row;
        gap: 16px;
    }

    .title {
        font-size: 24px;
    }
}