/* Body CSS */
body.forgot_background {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/* Main container */
.forgot_container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* Left login container */
.forgot_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* H1 Style */
.forgot_left h1 {
    width: 400px;
    margin: 0 0 32px 0;
    font-size: 48px;
    font-weight: bold;
    color: var(--White);
}

/* Form Style */
.form_container {
    width: 400px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

/* Label and input container */
.input_group {
    display: flex;
    flex-direction: column;
    position: static;
}

/* Label Style */
.input_group label {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    color: var(--White);
}

/* Input Style */
.input_group input {
    width: 366px;
    margin-top: 8px;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.35) !important;
    color: var(--White);
    border: 1px solid var(--White);
}

.input_group a {
    color: var(--Lime-green);
    text-align: right;
    padding: 8px;
    text-decoration: none;
}

/* Login Button Style and hover effect */
.button {
    height: 50px;
    margin-top: 24px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    cursor: pointer;
}

.button:hover {
    background-color: var(--Dark-blue);
    color: var(--White);
}

/* Sign up container */
.sign_up {
    width: 400px;
    margin-top: 32px;
    text-align: center;
    color: var(--White);
}

/* Sign up style and hover effect */
.sign_up a {
    color: var(--Lime-green);
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: underline;
}

/* Right login container */
.forgot_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo Style */
.logo {
    width: 400px;
    user-select: none;
}

/* Error styles for inputs */
.input_group input.error_input,
.input_group2 input.error_input {
    border: 1px solid var(--Soft-red);
}

/* Error styles for labels */
.input_group label.error_label,
.input_group2 label.error_label {
    color: var(--Soft-red);
}

.error_label{
    color: var(--Soft-red);
}

.error_container {
    background-color: rgba(80, 0, 0, 0.4);
    width: 100%;
    height: 50px;
    border-radius: 16px;
}

.error_message2 {
    color: var(--Soft-red);
    font-size: 16px;
    padding: 0;
    text-align: center;
}

.error_message {
    color: var(--Soft-red);
    font-size: 12px;
    margin: 8px;
}

.password_container {
    display: flex;
    align-items: center;
    position: relative;
    /* To position the icon within the input */
}

.toggle_icon {
    color: var(--White);
    cursor: pointer;
    /* Change cursor to pointer on hover */
    margin: 12px 0 0 -32px;
    /* Adjust position as needed */
    z-index: 1;
    /* Ensure it appears above the input */
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .forgot_container {
        flex-direction: column;
        align-items: center;
    }

    .forgot_left {
        padding: 0;
    }

    .forgot_left h1 {
        text-align: center;
    }

    .forgot_right {
        display: none;
    }

    .resp_logo {
        width: 128px;
        height: 128px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .resp_logo {
        width: 128px;
        height: 128px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .form_container {
        width: 280px;
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    .forgot_left h1 {
        width: 280px;
        margin: 0 0 32px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .resp_logo {
        width: 128px;
        height: 128px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
    }
    
    .input_group input {
        width: 246px;
    }
}