/* Body CSS */
body.signup_background {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/* Main container */
.signup_container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* Left login container */
.signup_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--White);
}

/* Right login container */
.signup_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sign up container */
.login {
    width: 400px;
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
}

/* Sign up style and hover effect */
.login a {
    color: var(--Lime-green);
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

/* Logo Style */
.logo {
    width: 400px;
    user-select: none;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .signup_container {
        flex-direction: column;
        align-items: center;
    }

    .signup_right {
        display: none;
    }

    .resp_logo {
        width: 128px;
        height: 128px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
        margin-top: 64px;
    }

}

@media (max-width: 768px) {
    .login{
        margin-bottom: 64px;
    }
    
    .resp_logo {
        width: 128px;
        height: 128px;
        margin-top: 64px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .resp_logo {
        width: 128px;
        height: 128px;
        margin-top: 64px;
        background-image: url("/assets/images/Focused-Icon.png");
        background-size: cover;
        margin-bottom: 24px;
    }

    .login{
        margin-bottom: 64px;
    }
}