:root{
    --White: #FFFFFF;
    --Black: #000000;
    --Gray: #808080;
    --Dark-black: #2D2D29;
    --Dark-blue: #215A6D;
    --Dark-cyan: #3CA2A2;
    --Lime-green: #92C7A3;
    --Green: #38c733;
    --Light-gray: #DFECE6;
    --Bright-gray: #EEEEEE;
    --Vivid-orange: #FF9915;
    --Bright-yellow: #FAD928;
    --Red: #FF3333;
    --Soft-red: #E04E4E;
    --Blue: #4A90E2;
    --Green: #28A745;
    --Orange: #FF9800;
    --Yellow: #FFC107;
}